@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  *{
    color: white;
  }
  ::selection{
      color: #F6961E;
    }
  }
.one{
  margin: 0 auto;
  place-content: center;
}
